@model Cronos.Application.ViewModels.MenusViewModel


<!DOCTYPE html>

<html>
<head>


    <meta name="viewport" content="width=device-width" />
 
    <title>List Menu</title>
</head>
<body>

    <partial name="~/Views/Menu/_Menu.cshtml" for="@Model">


        <h4>List Menu Page</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm("Edit", "Menu", FormMethod.Post))
                {

                    <div class="form-group">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Menu Name</th>
                                    <th>Content</th>
                                    <th>Menu Order</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Is Active</th>
                                    <th>Is Deleted</th>
                            </thead>
                            <tbody>
                                @foreach (var menu in Model.Menus)
                                {
                                    <tr>
                                        <td>@menu.Id</td>
                                        <td><input   disabled type="text" name="MenuName" value="@menu.MenuName" /></td>
                                        <td><input disabled type="text" name="Content" value="@menu.Content" /></td>
                                        <td>
                                            <input  disabled type="text" name="MenuOrder" value="@menu.Order" />
                                        </td>
                                        <td><input disabled name="StartDate" type="datetime-local" value="@menu.StartDate.ToString("yyyy-MM-dd HH:mm:ss")" /></td>
                                        <td><input disabled name="EndDate" type="datetime-local" value="@menu.EndDate.ToString("yyyy-MM-dd HH:mm:ss")" /></td>
                                        <td><input disabled  name="IsActive" value="@menu.IsActive" type="checkbox" @(menu.IsActive? "checked" : "") /></td>
                                        <td><input disabled name="IsDeleted" value="@menu.IsActive" type="checkbox" @(menu.IsDeleted? "checked" : "") /></td>
                                    </tr>
                                }




                            </tbody>
                        </table>



                     
                    </div>
                }
            </div>
        </div>



        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }


    </body>
    </html>
