@using Cronos.Application.ViewModels
@model ActivityViewModel


@foreach(var item in Model.Activities){
    
    <div>
        <div>
            <div>@item.Title</div>
            <div>@item.Info</div>
            <div>@item.StartDate</div>
            <div>@item.EndDate</div>
            <a href="@item.locationUrl">see location</a>
            <a href="#">Devamı..</a>

        </div>
    </div>
}