
@using Cronos.Application.ViewModels
@model ActivityViewModel

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Information</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
        <th>Order</th>
        <th>isDelete</th>
        <th>isActive</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
@foreach (var item in Model.Activities)
{
    <tr>
            <td>@item.Title</td>
            <td>@item.Info</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.locationUrl</td>
            <td>@item.Order</td>
            <td>@item.IsDeleted</td>
            <td>@item.IsActive</td>

            <td>
                <a asp-action="Update" asp-controller="Activity" asp-route-id="@item.Id">Edit</a>
            </td>
            @if(!item.IsDeleted){
            <td>
                <a asp-action="Delete" asp-controller="Activity" asp-route-id="@item.Id">Delete</a>
            </td>
            }else{
                <td>
                <a asp-action="Delete" asp-controller="Activity" asp-route-id="@item.Id">Add</a>
                </td>

            }
    </tr>
   
}
</table>

<a asp-action="AddActivity" asp-controller="Activity" class="btn btn-primary">Add new Activity</a>